
.el2{ 
    width: 300px;
    height: 200px;
    /* display: block; */
    /* padding: 0 20px 20px;  */
}

.el3{
    /* padding: 0 20px 20px; */
    width: 300px; 
    /* box-sizing: border-box; */
}

.masonry-columns {
    max-width: 100rem;
    margin: 0 auto;
    display: column;
    columns: 3;
    gap: 1rem;
    /* align-items: center; */
    align-content: space-around;
    justify-content: center;
}

.masonry-columns > * {
    break-inside: avoid;
    margin-bottom: 1em;
    /* margin-right: 0; */
    align-content: center;
}

@media (max-width: 1000px) {
    .el2{ 
        width: 400px;
        height: 250px;
    }

    .el3{ 
        padding: 0 20px 20px;
        width: 400px; 
    }

    .masonry-columns {
        max-width: 100rem;
        margin: 0 auto;
        display: column;
        columns: 2;
        gap: 1rem;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .el2{ 
        width: 350px;
        height: 250px;
    }

    .el3{
        padding: 0 20px 20px; 
        width: 350px; 
    }
    .masonry-columns {
        max-width: 100rem;
        margin: 0 auto;
        display: column;
        columns: 2;
        gap: 1rem;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .el2{ 
        width: 400px;
        height: 250px;
    }

    .el3{
        padding: 0 20px 20px; 
        width: 450px; 
    }
    .masonry-columns {
        max-width: 100rem;
        margin: 0 auto;
        display: column;
        columns: 1;
        gap: 1rem;
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .masonry-columns {
        flex-direction: row;
        flex-wrap:wrap;
        display:flex;
        justify-content: center;
    }
}

  

  